.chat-page-container {
    margin-top: 60px;
    background-color: rgb(245,245,245);
    padding: 30px;
}

.converation-messanger-container {
    display: flex;
}

.conversations {
    float: 1;
}

.messanger {
    flex: 2;
}