.messanger-scroll-bar-container {
    height: 700px;
    width: 650px;
    border: solid 1px #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.messinger-active-conversation {
    height: 70px;
    padding: 10px;
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 5px 0px px 5px;
}

.messanger-message-scroll-bar {
    display: flex;
    height: 500px;
}

.messanger-text-typing-area {
    width: 100%;
    padding: 20px;
    align-self: flex-end;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}

#input-typer {
    width: 550px;
    padding: 2px;
    resize: none;
    border-radius: 5px 0px 0px 5px;
    border-color: transparent;
    background-color: lightgray;
}

#messanger-message-send-bttn {
    padding: 28px 5px 0px 5px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background-color: rgb(255, 0, 102);
    color: white;
    cursor: pointer;
}

#messanger-message-send-bttn:hover {
    border: 1px solid rgb(69, 163, 194);
}

.messanger-messages-container-box {
    height: 535px;
    width: 650px;
    border: solid 1px #ccc;
    overflow: auto;
    border-bottom: none;
}

/* my message */
.messanger-my-message {
    width: 70%;
    display: flex;
    padding: 10px;
    margin: 10px;
    position: relative;
    background: rgb(69, 163, 194);
    text-align: right;
    min-width: 45%;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    float: right;
    right: 20px;
}

.messanger-my-message::before {
    content: '';
    position: absolute;
    visibility: visible;
    top: -1px;
    right: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #ccc;
}

.messanger-my-message::after {
    content: '';
    position: absolute;
    visibility: visible;
    top: 0px;
    right: -8px;
    border: 10px solid transparent;
    border-top: 10px solid rgb(69, 163, 194);
    clear: both;
}

/*---------------------------------*/


.messanger-collocutor-message {
    width: 70%;
    display: flex;
    padding: 10px;
    margin: 10px;
    margin-left: 30px;
    position: relative;
    background: rgb(163, 162, 162);
    text-align: left;
    min-width: 45%;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    float: left;
    right: 20px;
}

.messanger-collocutor-message::before {
    content: '';
    position: absolute;
    visibility: visible;
    top: -1px;
    right: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #ccc;
}

.messanger-collocutor-message::after {
    content: '';
    position: absolute;
    visibility: visible;
    top: 0px;
    right: -8px;
    border: 10px solid transparent;
    border-top: 10px solid rgb(163, 162, 162);
    clear: both;
}