.registration-field {
    margin: 2px;
    font-size: 18px;
    border-radius: 5px;
    min-width: 300px;
}

.form-registration-container {
    margin-top: 10%;
    background-color: rgba(201, 76, 76, 0.5);
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}