.text-input-profile-about {
    border: 1;
    padding: 4px;
    margin: 4px;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border: none;
}

.text-input-profile-about:hover {
    cursor: pointer;
}

.profile-about-me-table, th{
    min-width: 150px;
}

.profile-about-me-table label{
    cursor: pointer;
}

.profile-about-me-table label:hover{
    color: lightblue;
}

.country-language {
    margin: 2px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    border-radius: 50px;
    background-color:rgb(128,128,128, 0.5);
}

.country-language:hover {
    cursor: pointer;
    color: lightblue;
}

.country-languages-container {
    text-align: center;
}

.profile-aboutme-container {
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(245,245,245);
}