.profile-main-settings {
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(245,245,245);
}

.settings {
    margin-top: 5px;
}

.profile-main-settings-table label{
    cursor: pointer;
}

.profile-main-settings-table label:hover{
    color: lightblue;
}

.location-btn {
    border: 0;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: rgba(255, 0, 102);
    border: none;
}

.location-refresh-btn {
    color: black;
    font-size: 25px;
    cursor: pointer;
}

.location-refresh-btn:hover {
    color: lightblue;
}

.location-refresh-btn:active {
    color: rgba(255, 0, 102);
}

.profile-info-edit-bttn {
    cursor: pointer;
    padding: 5px;
    float: right;
    border-radius: 5px;
    background-color: lightblue;
}