.activities-menu {
    color: white;
    text-align: center;
    background-color: rgb(255, 0, 102);
}

.activities-menu-link {
    color: white;
    margin: 5px;
    text-decoration: none !important;
}

.activities-menu-link:hover {
    color:lightblue;
}

.user-profile-short-data-avatar {
    width:  200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    border: 2px solid white;
}

.activities-attributes {
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}

.vertical-line {
    border-left: 1px solid white;
    height: 100px;
}