.activities-menu {
    color: white;
    text-align: center;
    height: 450px;
    width: 250px;
    right: 0;
    position: fixed;
    margin-top: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(255, 0, 102);
}

.activities-menu-link {
    margin: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none !important;
}

.activities-menu-link:hover {
    color: lightblue;
}

.activities-menu-link:hover {
    color:lightblue;
}

.user-profile-short-data-avatar {
    width:  150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    border: 2px solid white;
}

.activities-attributes {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}

.vertical-line {
    border-left: 1px solid white;
    height: 100px;
}

.hr-activities-menu {
    background-color: white;
}