.info-notification-message {
    right: 20%;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    position: absolute;
    background-color: #FFE5CC;
}

.success-notification-message {
    right: 20%;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    position: absolute;
    background-color: #00CC00;
}

.error-notification-message {
    right: 20%;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    position: absolute;
    background-color: #FF0000;
}