.avatar-img-upload-btn {
    display: none;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}

.image-to-crop {
    margin: 30px;
    max-width: auto;
    max-width: 50%;
}

.crop-img-btn {
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
    border-color:  rgb(255, 0, 102);
    background-color: rgb(255, 0, 102);
}