.number-adjuster-input-button-left {
    border: none;
    min-width: 60px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.number-adjuster-input-button-right {
    border: none;
    min-width: 60px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.number-adjuster-input-button-left:hover,
.number-adjuster-input-button-right:hover,
.double-number-adjuster-input-btn-left:hover,
.number-adjuster-input-button-right:hover {
    background-color: lightblue;
}

.number-adjuster-input-button-left:active,
.number-adjuster-input-button-right:active,
.double-number-adjuster-input-btn-left:active,
.double-number-adjuster-input-btn-right:active {
    color: white;
    background-color: rgb(255, 0, 102);
}

.number-adjuster-input {
    cursor: pointer;
    color: black;
    border: none;
    max-width: 40px;
    text-align: center;
    background-color: transparent;
}

.number-adjuster-input:active {
    cursor: pointer;
    color: white;
    background-color: rgb(255, 0, 102);
}

.double-number-adjuster-input-btn-left {
    border: none;
    border-left: 1px solid black;
}

.double-number-adjuster-input-btn-right {
    border: none;
    border-right: 1px solid black;
}