.avatar-image {
    cursor: pointer;
    border-radius: 5px;
    height: auto;
    max-width: 355px;
    background-color: grey;
}

.avatar-img-upload-btn {
    display: none;
}

.avatar-img-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}

.avatar-image-to-crop {
    margin: 30px;
    max-width: auto;
    max-width: 50%;
}

.crop-img-btn {
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
    border-color:  rgb(255, 0, 102);
    background-color: rgb(255, 0, 102);
}

.avatar-image-croper-close-bttn {
    color: white;
    font-size: 36px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
}