.text-input-profile-about {
    border: 1;
    padding: 4px;
    margin: 4px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.text-input-profile-about:focus {
    color: white;
    border-color: rgb(255, 0, 102);
    background-color: rgb(255, 0, 102);
}

.text-input-profile-about:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 102);
}

.profile-about-me-table, th{
    min-width: 150px;
}

.profile-about-me-table label{
    cursor: pointer;
}

.profile-about-me-table label:hover{
    color: rgb(255, 0, 102);
}

.country-language {
    margin: 2px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    border-radius: 50px;
    background-color: grey;
}

.country-language:hover {
    cursor: pointer;
    color: lightblue;
}

.country-languages-container {
    text-align: center;
}
