.profile-main-settings {
    padding-left: 20px;
    padding-right: 20px;
}

.settings {
    margin-top: 5px;
    text-align: left;
}

.profile-main-settings-table label{
    cursor: pointer;
}

.profile-main-settings-table label:hover{
    color: lightblue;
}

.location-btn {
    border: 0;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: rgba(255, 0, 102, 0.301);
    border: 1px solid black;
}

.location-refresh-btn {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.location-refresh-btn:hover {
    color: lightblue;
}

.location-refresh-btn:active {
    color: white;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    background-color: grey;
}