.profile-main-settings {
    width: 400px;
    margin: 20px;
    vertical-align:top;
    display: inline-block;
    color: rgba(128, 128, 128);
}

.user-profile-info-details {
    color: rgba(128, 128, 128);
    width: 600px;
    margin: 20px;
    overflow: hidden;
    text-align: left;
    padding-left: 100px;
    display: inline-block;
}

.save-profile-details-btn {
    color: white;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 0, 102);
}

.save-profile-details-btn:hover {
    background-color: lightblue;
}

.save-profile-details-btn:active {
    background-color: rgba(255, 0, 102);
}

.user-profile-container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}