.profile-main-settings {
    padding-left: 20px;
    padding-right: 20px;
}

.settings {
    margin-top: 5px;
    text-align: left;
}

.profile-main-settings-table label{
    cursor: pointer;
}

.profile-main-settings-table label:hover{
    color: rgb(255, 0, 102);
}