.profile-switch-field {
    border: 0;
    max-width: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.profile-switch-field:hover {
    color: white;
    background-color:  rgb(255, 0, 102);
}