.account-registration-page-container {
    margin-top: 60px;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    text-align: center;
    background-image: url("/sitting-couple.jpg");
    background-color: gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-back-bttn {
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    max-width: 300px;
    background-color: rgb(192,192,192, 0.5);
}

.home-back-bttn:hover {
    cursor: pointer;
    background-color: rgb(135,206,250, 0.5) ;
}