# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/logs

# testing
/coverage
/logs

# production
/build
/logs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/bin
/.vs
/Debug
.cache
.ide-wal
.suo

.vs/
.vs
AuthAPI/.vs
AuthAPI/.vs/
WebGateway/.vs
WebGateway/.vs/
ProfileAPI/.vs
ProfileAPI/.vs/


